<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: common_header(~{::title},~{})">

<title>Change Password</title>
</head>

<body>
	
	<header th:replace="~{base :: header}"></header>
	
	<h1>Change password</h1>
	
	<p th:text="|Logged in as ${loginUser}.|">Logged in as guest.</p>
	
	<form action="/change_password" method="POST" th:action="@{/change_password}">
		
		<table>
			<tbody>
				<tr>
					<td>
						Old password:
					</td>
					<td>
						<input type="text" name="old_password" />
					</td>
				</tr>
				
				<tr>
					<td>
						New password:
					</td>
					<td>
						<input type="text" name="new_password" />
					</td>
				</tr>
				
				<tr>
					<td>
						Repeat new password:
					</td>
					<td>
						<input type="text" name="repeat_new_password" />
					</td>
				</tr>
				
				<tr>
					<td>
						&nbsp;
					</td>
					<td>
						<input type="submit" value="Change password" />
					</td>
				</tr>
			</tbody>
		</table>
		
	</form>
	
	<footer th:replace="~{home :: footer"></footer>
	
</body>
</html>