<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: common_header(~{::title},~{})">

<title>Deleting Bookmarks</title>
</head>

<body>
	
	<header th:replace="~{base :: header}"></header>
	
	<h1>Deleting Bookmarks</h1>
	
	<p th:text="|Logged in as ${loginUser}.|">Logged in as guest.</p>
	
	<p th:each="deleted_url : ${deleted_urls}" th:text="|Deleted ${deleted_url}.|">Deleted url.</p>
	
	<!-- get the bookmarks this user has saved -->
	<form name="bm_form" action="/delete_bms" method="POST" th:action="@{/delete_bms}">
		
		<table>
			<thead></thead>
			<tbody>
				
				<tr>
					<td>Bookmark</td>
					<td>Delete?</td>
				</tr>
				
				<tr th:each="url : ${urls}">
					<td><a href="#" th:href="@{${url}}" th:text="${url}">#</a></td>
					<td><input type="checkbox" name="del_me" value="#" th:value="${url}" /></td>
				</tr>
				
				<tr th:if="${urls.size} &lt; 1">
					<td>No bookmark on record.</td>
				</tr>
				
			</tbody>
			<tfoot></tfoot>
		
		</table>
	
	</form>
	
	<footer th:replace="~{home :: footer}"></footer>
	
</body>
</html>